@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-image: $bg-color;
    color: $white-color;
    font-family: "Poppins", sans-serif;
    /* min-height: 100vh; */
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: $nav-width;
    height: 100vh;
    background: $white-color;
}

.nav__first{
    @include navbar__general(1.7rem,$white-color,$text-dec-none);
    top: 0;
    background-color: #8f85f1;
    margin-bottom: 10px;
}

.nav__link {
    @include navbar__general(1.2rem,$black-color,$text-dec-none);
    &:hover{
        background: #52b3e7;
    }
}

.header{
    margin-top: 3vh;
    font-size: 1.5rem;
}
.header,.form{
    @include center-element;
    width: 100%;
    margin-left: 60px;
    min-height: 14vh;
}
.form__input{
    outline: none;
    min-width: 25%;
    margin-left: 40px;
}

.form__input,.form__button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: $white-color;
}
.form__button{
    @include add-btn(#6687f3,$white-color);
    min-width: 4%;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        @include add-btn($white-color,#6687f3);
    }
}